<!DOCTYPE html>
<html>
<head>
<title>Thu Vien Online || Button Page</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.btn-container {
	text-align: center;
}

.btn-container .btn {
	margin: 10px;
}

.page-heading {
	text-align: center;
	margin-bottom: 50px;
	font-size: 32px;
	font-weight: bold;
}
</style>
</head>
<body>
	<div class="container">
		<h1 class="page-heading">Admin Page</h1>
		<div class="btn-container">
			<a href="/bookManagement" type="button"
				class="btn btn-primary btn-lg">Book Management</a> <a
				href="/admin/category" type="button"
				class="btn btn-secondary btn-lg">Category Management</a>
		</div>
	</div>
</body>
</html>
