<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- Title  -->
<title>Thu Vien Online | Cart</title>

<!-- Favicon  -->
<link rel="icon" href="../../images/img.png">

<!-- Core Style CSS -->
<link rel="stylesheet" href="../../css/core-style.css">
<link rel="stylesheet" href="../../style.css">

<link rel="stylesheet" href="../../vendors/typicons/typicons.css">
<link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- plugin css for this page -->
<link rel="stylesheet"
	href="../../vendors/mdi/css/materialdesignicons.min.css" />
	<style>
		.myfont {
			font-size: 16px;
		}

	</style>

</head>

<body>
	<!-- Search Wrapper Area Start -->
	<div class="search-wrapper section-padding-100">
		<div class="search-close">
			<i class="fa fa-close" aria-hidden="true"></i>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="search-content">
						<form action="#" method="get">
							<input type="search" name="search" id="search"
								placeholder="Type your keyword...">
							<button type="submit">
								<img src="../../img/core-img/search.png" alt="">
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Search Wrapper Area End -->

	<!-- ##### Main Content Wrapper Start ##### -->
	<div class="main-content-wrapper d-flex clearfix">

		<!-- Mobile Nav (max width 767px)-->
		<div class="mobile-nav">
			<!-- Navbar Brand -->
			<div class="amado-navbar-brand">
				<a href="/view/shop"><img src="../../images/img.png"
					alt=""></a>
			</div>
			<!-- Navbar Toggler -->
			<div class="amado-navbar-toggler">
				<span></span><span></span><span></span>
			</div>
		</div>

		<!-- Header Area Start -->
		<header class="header-area clearfix">
			<!-- Close Icon -->
			<div class="nav-close">
				<i class="fa fa-close" aria-hidden="true"></i>
			</div>
			<!-- Logo -->
			<div class="logo">
				<a href="/view/shop"><img src="../../images/img.png"
					alt=""></a>
			</div>
			<!-- Amado Nav -->
			<nav class="amado-nav">
				<ul>
					<li><a href="/view/shop">Home</a></li>
					<li><a href="/view/shop">Shop</a></li>
					<li class = "active"><a th:href="@{/purchased/{userId}(userId=${userId})}">Purchased</a></li>
					<li ><a href="/view/shop">Product</a></li>


				</ul>
			</nav>
			<!-- Button Group -->
			<div class="amado-btn-group mt-30 mb-100"></div>
			<!-- Cart Menu -->
			<div class="cart-fav-search mb-100">
				<a href="#" class="cart-nav"><img
					src="../../img/core-img/cart.png" alt=""> Cart <span
					id="cartCount">(0)</span></a> <span th:if="${username}"
					class="search-nav"> <i
					class="fa fa-user-circle-o pr-2 fa-lg" aria-hidden="true"></i>
					[[${username}]]
				</span> <a th:if="${username}" th:href="@{/logout}"><i
					class="fa fa-sign-out pr-2 fa-lg" aria-hidden="true"></i> LogOut </a> <a
					th:unless="${username}" th:href="@{/login}"><i
					class="fa fa-user-circle-o pr-3 fa-lg" aria-hidden="true"></i>Login</a>
				<a th:unless="${username}" th:href="@{/register}"><i
					class="fa fa-registered pr-2 fa-lg" aria-hidden="true"></i>
					Register </a>
			</div>
			<!-- Social Button -->

		</header>
		<!-- Header Area End -->

		<div class="cart-table-area section-padding-100">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 col-lg-8">
						<div class="cart-title mt-50">
							<h2>Purchased</h2>
						</div>

						<div class="cart-table clearfix">
							<table class="table table-responsive ">
								<thead>
									<tr >
										<th></th>
										<th class="myfont" >Name</th>
										<th class="myfont">Quantity</th>
										<th class="myfont">Action</th>
									</tr>
								</thead>
								<h5 id="checkPurcharsed"></h5>
								<tbody id="purcharsedList">

								</tbody>
							</table>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
	<!-- ##### Main Content Wrapper End ##### -->

	<!-- ##### Newsletter Area Start ##### -->

	<!-- ##### Newsletter Area End ##### -->

	<!-- ##### Footer Area Start ##### -->

	<!-- ##### Footer Area End ##### -->

	<!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
	<script src="../../js/jquery/jquery-2.2.4.min.js"></script>
	<!-- Popper js -->
	<script src="../../js/popper.min.js"></script>
	<!-- Bootstrap js -->
	<script src="../../js/bootstrap.min.js"></script>
	<!-- Plugins js -->
	<script src="../../js/plugins.js"></script>
	<!-- Active js -->
	<script src="../../js/active.js"></script>
	<script th:src="@{/Myjs/cart.js}"></script>


	<script th:inline="javascript">
		var userID = /*[[${userId}]]*/
		console.log(userID)
		loadPurchased(userID)
	</script>
</body>

</html>